@import '../../assets/styles/global';

.Button {
  &.electric-violet {
    .ant-btn {
      background: $electric-violet;
    }
  }

  &.yellow {
    .ant-btn {
      background: linear-gradient(180deg, #F5C120 15.62%, #F2A416 100%);
    }
  }

  .ant-btn {
    background: linear-gradient(180deg, #5AD71A 0%, #58D319 0.01%, #50C613 100%);
    padding: 0rem 1.5rem;
    border-radius: 2.5rem;
    border: none;
    height: auto;
    display: flex;
    align-items: center;
    height: 4rem;

    span {
      font-size: 1.5rem;
      font-weight: 600;
      color: $white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-icon {
    flex: 0 0 2.4rem;
    max-width: 2.4rem;
    height: 2.4rem;
    margin-right: .8rem;

    .Icon {
      width: 100%;
      height: 100%;
    }
  }
}