@import '../../assets/styles/global';

.DropdownCustom {
  &-overlay {
    background: #17181B;
    border-radius: 1rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    padding: .6rem;
  }

  &-menu {
    &-item {
      padding: 1rem;
      transition: $common-transition;
      cursor: pointer;
      border-radius: .3rem;

      &:hover {
        background: linear-gradient(90deg, rgba(46, 30, 55, 0) 1.46%, rgba(106, 28, 154, 0.52) 50.22%, rgba(47, 29, 58, 0) 100%);

        .DropdownCustom-menu-item {
          &-title {
            color: $white;
          }
        }
      }

      &-icon {
        flex: 0 0 1.8rem;
        max-width: 1.8rem;
        height: 1.8rem;
        display: flex;
        margin-right: .8rem;

        .Icon {
          margin: auto;
          height: 100%;
        }
      }

      &-title {
        font-size: 1.2rem;
        font-weight: 500;
        color: $nobel;
        transition: $common-transition;

      }
    }
  }
}