@import '../../assets/styles/global';

.TokenCardList {
  padding: 3rem 1.5rem;

  &-wrapper {
    max-width: 110rem;
    margin: 0 auto;
  }

  &-list {
    margin: 0 -1.5rem;

    &-item {
      padding: 0 1.5rem;
      flex: 0 0 calc(100% / 4);
      max-width: 100% / 4;

      @media (max-width: 991px) {
        flex: 0 0 calc(100% / 2);
        max-width: 100% / 2;
        margin-bottom: 5rem;
      }
    }
  }
}