@import '../../assets/styles/global';

.AcceptCookie {
  padding: 0 1.5rem;


  &-wrapper {
    max-width: 84rem;
    margin: 0 auto;
    background: linear-gradient(180deg, #23294C 0%, #17284C 100%);
    padding: 2.4rem 2.4rem 4.8rem;
    border-radius: 2rem;

    @media (max-width: 575px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &-item {
      &:first-child {
        margin-right: 6rem;

        @media (max-width: 575px) {
          margin-right: 0;
        }
      }
    }
  }

  &-title {
    color: $white;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
  }

  &-description {
    color: $hurricane;
    font-weight: 500;
    font-size: 1.8rem;
  }

  .Button {
    margin-top: 5rem;

    .ant-btn {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
}