/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$shark: #24262B;
$nobel: #B5B5B5;
$lima: #5AD71A;
$pistachio: #81D70B;
$hurricane: #938C8C;
$nevada: #686F78;
$electric-violet: #9C25FF;
$daisy-bush: #471AB6;
$heliotrope: #8A5BFF;
$gray: #8A8A8A;
$saffron: #F5C120;
$supernova: #FFCA0F;
$gorse: #FFF84F;
$rum: #6F5C8D;
$silver: #BABABA;
$victoria: #5D497D;
$melrose: #918AFF;